@font-face {
    font-family: "Boots And Spurs";
    src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2,
.logo {
    font-family: "Boots and Spurs", Verdana, Geneva, Tahoma, sans-serif;
}

.product-list h2 {
    font-family: "Roboto";
}

header, 
footer {
    background-color: #202020;
    color: #FFFFFF
}

footer {
    text-align: center;
}

header a {
    color: #FFF
}

.cta-button {
    background-color: #bb0000;
    color: #FFFFFF
}

.reviews {
    background-color: #e8e8e8;
}

.featured-products {
    background-color: #fbfbfb
}

.cta-view {
    background-color: #bb0000;
    font-size: 1.5em;
    color: #FFFFFF;
}