header, 
footer {
    background-color: #202020;
    color: #FFFFFF
}

footer {
    text-align: center;
}

header a {
    color: #FFFFFF
}

.cta-button {
    background-color: #bb0000;
    color: #FFFFFF
}

.reviews {
    background-color: #e8e8e8;
}

.featured-products {
    background-color: #fbfbfb
}

.cta-view {
    background-color: #bb0000;
    font-size: 1.5em;
    color: #FFFFFF;
}