@font-face {
    font-family: "Boots And Spurs";
    src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2,
.logo {
    font-family: "Boots and Spurs", Verdana, Geneva, Tahoma, sans-serif;
}

.product-list h2 {
    font-family: "Roboto";
}

nav ul {
    padding: 0px;
}

nav li {
    display: inline-block;
}

header, 
footer {
    background-color: #202020;
    color: #FFFFFF
}

/* Links */
a {
    text-decoration: none;
}

footer {
    text-align: center;
}

header a {
    color: #FFF;
    padding: 10px;
}

.cta-button {
    background-color: #bb0000;
    color: #FFFFFF;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 80px;
    border-radius: 5px;
}

.active {
    text-decoration: underline;
}

.reviews {
    background-color: #e8e8e8;
}

.featured-products {
    background-color: #fbfbfb
}

.cta-view {
    background-color: #bb0000;
    font-size: 0.8em;
    color: #fff;
    padding: 8px 30px;
}

/* Home page */
.welcome {
    background-image: url("../images/home-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 70vh;
    position: relative;
}

.welcome__content {
position: absolute;
text-align: center;
top: 100px;
left: 100px;  
}

.selling-points__images {
    border-radius: 100px;
}

.review_images {
    border-radius: 50%;
}

/* Contact Page */
input,
select,
textarea {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}